/target/classes/Java_4_Advanced/Lesson7/Task2_Task3/City.class
/target/classes/Java_4_Advanced/Lesson7/Task2_Task3/Main$1.class
/target/classes/Java_4_Advanced/Lesson7/Task2_Task3/Main.class
/target/classes/Java_4_Advanced/Lesson7/Task2_Task3/Street.class

*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*