/target/classes/Java_4_Advanced/Lesson7/Task2_Task3/City.class
/target/classes/Java_4_Advanced/Lesson7/Task2_Task3/Main$1.class
/target/classes/Java_4_Advanced/Lesson7/Task2_Task3/Main.class
/target/classes/Java_4_Advanced/Lesson7/Task2_Task3/Street.class
